<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/master.css" media="screen" title="no title" charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <% for(var i=0; i<rows.length; i++){%>
      <p><%= rows[i].id %></p>
    <%}%>
  </body>
</html>
